<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/boardregister" method="post">
        <input type="text" name="_title"><br>
        <input type="text" value="<%=data[0].ensname%>"><br>
        <input type="text" name="user_id" value="<%=data[0].id%>">  
        <textarea name="_content"></textarea><br>
        <input type="submit" value="글 등록">

    </form>
</body>
</html>